/* Q: What is p when defining a rule in CSS? */
/* A: selector! this is what is going to have the styles applied */
p {
  /* Q: What is the property that manipulates the horizontal size of the block? Write that property and give it a value of 60%*/
  width: 60%;

  /* Q: What are the other units of measurement we use in CSS? */
  /* A: px, pt, em, %, rem */
}

/* To be completed as a class together: */
/* Select "blue" class */
/* .classname */
.blue{
  background-color: blue;
}

/* Select "main" id */
/* #idname */
#main{
  border: 2px solid red;
}
